$pink : #FF8482;
$outline : #DADADA;
$white : #fff;
$textBlack : #333333;
$primary1 : #BE6361;
$yellow: #FFF2DD;
$darkerpink: #A85756;

$black50 :rgba (#333333, 0.5);
$white50 :rgba (rgb(255, 255, 255), 0.5);